{% extends 'index.html' %}

{% load static %}

{% block titulo %} Misión {% endblock titulo %}


{% block contenido %}
    


<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content animate__animated animate__fadeInLeft">
                  
                    <h2>!Servicios Tecnológicos al Servicio de la Salud!</h4>
                    <span><i></i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main animate__animated animate__fadeInUp">
                    <h2>Taller Móvil</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space animate__animated animate__fadeInUp">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-5 mt-5">
                <div class="news-img-block">
                    <img src="{% static 'images/vensalud/taller_movil.jpg' %}" class="img-fluid rounded" alt="#" />
                    <a class="video-play-button popup-youtube" href="{% static 'images/vensalud/video1.mp4' %}">
                        <span></span>
                    </a>
                    <div id="video-overlay" class="video-overlay">
                        <a class="video-overlay-close">&times;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="video-play-text">
                 
                    <h2 class="mb-5">Taller Móvil de Electromedicina</h2>

                    <p class="text-justify">
                        
                        Es una unidad móvil que permite realizar inspecciones a la RED HOSPITALARIA Y
AMBULATORIA del SPNS, disponiendo en su interior de partes, piezas, repuestos y
herramientas para que los técnicos puedan en situ ejecutar los respectivos
mantenimientos preventivos y correctivos a la tecnología médica instalada sin necesidad
de ser llevado al Taller Nacional.
</p> 
<hr>


                        

                    <hr />
                 
                </div>
            </div>
        </div>
    </div>
</section>


<section>

    <div class="container container-custom animate__animated animate__fadeInLeft">
        <div class="row">
            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/1.jpg' %}"  style="height: 200px; width: 250px;" class="img-fluid rounded" alt="#" />
                          
                </div>
            </div>

            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/2.jpg' %}"  style="height: 200px; width: 250px;" class="img-fluid rounded" alt="#" />
                          
                </div>
            </div>

            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/3.jpg' %}"   style="height: 200px; width: 250px;"  class="img-fluid rounded" alt="#" />
                          
                </div>
            </div>

            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/4.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;" alt="#" />
                          
                </div>
            </div>
            
            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/5.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;" alt="#" />
                          
                </div>
            </div>
            
            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/6.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;" alt="#" />
                          
                </div>
            </div> 

            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/7.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;" alt="#" />
                          
                </div>
            </div> 


            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/8.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;" alt="#" />
                          
                </div>
            </div> 

            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/9.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;" alt="#" />
                          
                </div>
            </div> 

            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/10.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;" alt="#" />
                          
                </div>
            </div> 

            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/11.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;" alt="#" />
                          
                </div>
            </div> 

            <div class="col-md-3 mt-3 mb-2 ">
                <div class="news-img-block h-float">
                    <img src="{% static 'images/vensalud/taller_movil/12.jpg' %}" class="img-fluid rounded" style="height: 200px; width: 250px;"yh,x alt="#" />
                          
                </div>
            </div> 

          
            
        </div>
    </div>
</section>


    
{% endblock contenido %}